<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>加德士-紅磡加油站</string>
		<key>addr</key>
		<string>九龍 土瓜灣 馬頭圍道161號</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.31713</real>
		<key>lng</key>
		<real>114.187764</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-公主道</string>
		<key>addr</key>
		<string>九龍 何文田 公主道 (近公主道52號)</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.315699</real>
		<key>lng</key>
		<real>114.177198</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-大環道加油站</string>
		<key>addr</key>
		<string>九龍 紅磡 大環道</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.307875</real>
		<key>lng</key>
		<real>114.187983</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-窩打老道加油站</string>
		<key>addr</key>
		<string>九龍 何文田 窩打老道82號A</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.31879</real>
		<key>lng</key>
		<real>114.175723</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-界限街加油站</string>
		<key>addr</key>
		<string>九龍 九龍塘 界限街113號</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.326894</real>
		<key>lng</key>
		<real>114.176477</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索東方-黃埔加油站</string>
		<key>addr</key>
		<string>九龍 紅磡 必嘉街 仁孚停車場大廈地下</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.305433</real>
		<key>lng</key>
		<real>114.186479</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-何文田加油站</string>
		<key>addr</key>
		<string>九龍 何文田 窩打老道82號</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.318656</real>
		<key>lng</key>
		<real>114.175632</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-公主道加油站</string>
		<key>addr</key>
		<string>九龍 何文田 公主道</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.310964</real>
		<key>lng</key>
		<real>114.177813</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-蕪湖街加油站</string>
		<key>addr</key>
		<string>九龍 紅磡 蕪湖街157-171號 興華大廈</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.308289</real>
		<key>lng</key>
		<real>114.18432</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石油-九龍塘加油站</string>
		<key>addr</key>
		<string>九龍 九龍塘 窩打老道201號</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.343226</real>
		<key>lng</key>
		<real>114.180084</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-亞皆老街加油站</string>
		<key>addr</key>
		<string>九龍 旺角 亞皆老街108號</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.320115</real>
		<key>lng</key>
		<real>114.174755</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-界限街加油站</string>
		<key>addr</key>
		<string>九龍 旺角 界限街126-128號</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.326921</real>
		<key>lng</key>
		<real>114.177354</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-馬頭圍道加油站</string>
		<key>addr</key>
		<string>九龍 土瓜灣 馬頭圍道163號 寶馬大廈</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.317143</real>
		<key>lng</key>
		<real>114.187672</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-公主道加油站</string>
		<key>addr</key>
		<string>九龍 何文田 公主道</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.315743</real>
		<key>lng</key>
		<real>114.17722</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-窩打老道加油站</string>
		<key>addr</key>
		<string>九龍 何文田 窩打老道82號B</string>
		<key>district</key>
		<string>九龍城</string>
		<key>lat</key>
		<real>22.31925</real>
		<key>lng</key>
		<real>114.17604</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-大埔墟加油站</string>
		<key>addr</key>
		<string>新界 大埔 廣福道1號N</string>
		<key>district</key>
		<string>大埔</string>
		<key>lat</key>
		<real>22.450942</real>
		<key>lng</key>
		<real>114.163709</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-大埔加油站</string>
		<key>addr</key>
		<string>新界 大埔 廣福道1號M</string>
		<key>district</key>
		<string>大埔</string>
		<key>lat</key>
		<real>22.450724</real>
		<key>lng</key>
		<real>114.163905</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-太和路加油站</string>
		<key>addr</key>
		<string>新界 大埔 大埔太和路</string>
		<key>district</key>
		<string>大埔</string>
		<key>lat</key>
		<real>22.453448</real>
		<key>lng</key>
		<real>114.15989</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-康樂園加油站</string>
		<key>addr</key>
		<string>新界 大埔 康樂園市中心徑 康樂園</string>
		<key>district</key>
		<string>大埔</string>
		<key>lat</key>
		<real>22.461896</real>
		<key>lng</key>
		<real>114.152036</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-大埔墟加油站</string>
		<key>addr</key>
		<string>新界 大埔 廣福道1號P</string>
		<key>district</key>
		<string>大埔</string>
		<key>lat</key>
		<real>22.451163</real>
		<key>lng</key>
		<real>114.163506</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-大埔滘加油站</string>
		<key>addr</key>
		<string>新界 大埔 大埔滘 大埔公路-大埔滘段 (近大埔公路-大埔滘段4663號)</string>
		<key>district</key>
		<string>大埔</string>
		<key>lat</key>
		<real>22.432513</real>
		<key>lng</key>
		<real>114.193528</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-汀太路加油站</string>
		<key>addr</key>
		<string>新界 大埔 汀太路</string>
		<key>district</key>
		<string>大埔</string>
		<key>lat</key>
		<real>22.454274</real>
		<key>lng</key>
		<real>114.163693</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石油-薄扶林加油站</string>
		<key>addr</key>
		<string>香港 薄扶林 薄扶林道80號</string>
		<key>district</key>
		<string>中西區</string>
		<key>lat</key>
		<real>22.281619</real>
		<key>lng</key>
		<real>114.132368</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-麥當勞道加油站</string>
		<key>addr</key>
		<string>香港 中環 麥當勞道3號A</string>
		<key>district</key>
		<string>中西區</string>
		<key>lat</key>
		<real>22.276032</real>
		<key>lng</key>
		<real>114.155872</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-山頂道加油站</string>
		<key>addr</key>
		<string>香港 山頂 山頂道</string>
		<key>district</key>
		<string>中西區</string>
		<key>lat</key>
		<real>22.268203</real>
		<key>lng</key>
		<real>114.162859</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-薄扶林道加油站</string>
		<key>addr</key>
		<string>香港 薄扶林 薄扶林道 (近蒲飛路巴士總站)</string>
		<key>district</key>
		<string>中西區</string>
		<key>lat</key>
		<real>22.282142</real>
		<key>lng</key>
		<real>114.132521</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-域多利道加油站</string>
		<key>addr</key>
		<string>香港 堅尼地城 域多利道 (域多利道70號對面)</string>
		<key>district</key>
		<string>中西區</string>
		<key>lat</key>
		<real>22.281326</real>
		<key>lng</key>
		<real>114.121317</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-粉嶺加油站</string>
		<key>addr</key>
		<string>新界 粉嶺 安樂村 沙頭角公路-龍躍頭段</string>
		<key>district</key>
		<string>北區</string>
		<key>lat</key>
		<real>22.500978</real>
		<key>lng</key>
		<real>114.146702</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-馬會道加油站</string>
		<key>addr</key>
		<string>新界 粉嶺 馬會道 粉嶺樓</string>
		<key>district</key>
		<string>北區</string>
		<key>lat</key>
		<real>22.496594</real>
		<key>lng</key>
		<real>114.139148</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-九龍坑加油站</string>
		<key>addr</key>
		<string>新界 粉嶺 大窩東支路</string>
		<key>district</key>
		<string>北區</string>
		<key>lat</key>
		<real>22.486352</real>
		<key>lng</key>
		<real>114.150095</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-粉嶺加油站</string>
		<key>addr</key>
		<string>新界 粉嶺 安樂村 馬會道</string>
		<key>district</key>
		<string>北區</string>
		<key>lat</key>
		<real>22.49137</real>
		<key>lng</key>
		<real>114.145393</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-粉嶺加油站</string>
		<key>addr</key>
		<string>新界 粉嶺 馬會道338號</string>
		<key>district</key>
		<string>北區</string>
		<key>lat</key>
		<real>22.491266</real>
		<key>lng</key>
		<real>114.145339</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-粉嶺南加油站</string>
		<key>addr</key>
		<string>新界 粉嶺 一鳴路30號</string>
		<key>district</key>
		<string>北區</string>
		<key>lat</key>
		<real>22.485288</real>
		<key>lng</key>
		<real>114.144162</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-粉嶺圍加油站</string>
		<key>addr</key>
		<string>新界 粉嶺 新運路70號 粉嶺圍</string>
		<key>district</key>
		<string>北區</string>
		<key>lat</key>
		<real>22.495432</real>
		<key>lng</key>
		<real>114.136721</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-上水加油站</string>
		<key>addr</key>
		<string>新界 上水 石湖墟 新豐路235號</string>
		<key>district</key>
		<string>北區</string>
		<key>lat</key>
		<real>22.50693</real>
		<key>lng</key>
		<real>114.127095</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-錦綉花園加油站</string>
		<key>addr</key>
		<string>新界 元朗 牛潭尾 新潭路</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.473122</real>
		<key>lng</key>
		<real>114.056303</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-錦田加油站</string>
		<key>addr</key>
		<string>新界 元朗 八鄉 錦田公路 彭家村</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.440213</real>
		<key>lng</key>
		<real>114.074083</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-朗廈加油站</string>
		<key>addr</key>
		<string>新界 元朗 青山公路-潭尾段</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.46668</real>
		<key>lng</key>
		<real>114.054021</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-水邊村加油站</string>
		<key>addr</key>
		<string>新界 元朗 青山公路-屏山段</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.444028</real>
		<key>lng</key>
		<real>114.018216</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-大棠路加油站</string>
		<key>addr</key>
		<string>新界 元朗 十八鄉 大棠路 大旗嶺 (近十八鄉路)</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.438783</real>
		<key>lng</key>
		<real>114.029384</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-天水圍加油站</string>
		<key>addr</key>
		<string>新界 元朗 廈村 洪志路 石埗村</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.441063</real>
		<key>lng</key>
		<real>113.997981</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-唐人新村加油站</string>
		<key>addr</key>
		<string>新界 元朗 屏山 青山公路-屏山段 唐人新村</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.44054</real>
		<key>lng</key>
		<real>114.008367</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-錦綉花園加油站</string>
		<key>addr</key>
		<string>新界 元朗 錦綉花園大道 錦綉花園 錦綉大道南</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.47361</real>
		<key>lng</key>
		<real>114.049573</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-屏山加油站</string>
		<key>addr</key>
		<string>新界 元朗 屏山 唐人新村路4號 唐人新村</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.441363</real>
		<key>lng</key>
		<real>114.011127</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-屏山加油站</string>
		<key>addr</key>
		<string>新界 元朗 屏山 唐人新村路4號 唐人新村</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.441363</real>
		<key>lng</key>
		<real>114.011127</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-新田加油站</string>
		<key>addr</key>
		<string>新界 元朗 新田 青山公路-新田段 (青山公路-新田段與古洞路交界)</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.498006</real>
		<key>lng</key>
		<real>114.077442</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-大棠加油站</string>
		<key>addr</key>
		<string>新界 元朗 大棠路90號</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.440689</real>
		<key>lng</key>
		<real>114.029535</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-田廈路加油站</string>
		<key>addr</key>
		<string>新界 元朗 洪水橋 田廈路</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.434945</real>
		<key>lng</key>
		<real>113.99266</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-交通廣場加油站</string>
		<key>addr</key>
		<string>新界 元朗 鳳翔路2-6號 交通廣場</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.443344</real>
		<key>lng</key>
		<real>114.03193</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石油-元朗加油站</string>
		<key>addr</key>
		<string>新界 元朗 八鄉 錦田公路 彭家村</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.440218</real>
		<key>lng</key>
		<real>114.074201</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-坳頭加油站</string>
		<key>addr</key>
		<string>新界 元朗 凹頭 青山公路-元朗段</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.444202</real>
		<key>lng</key>
		<real>114.043546</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-錦上路加油站</string>
		<key>addr</key>
		<string>新界 元朗 八鄉 錦上路 (錦上路與八鄉路交界)</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.425055</real>
		<key>lng</key>
		<real>114.075285</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-屏山加油站</string>
		<key>addr</key>
		<string>新界 元朗 屏山 青山公路-屏山段11號</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.437739</real>
		<key>lng</key>
		<real>114.003051</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-唐人新村加油站</string>
		<key>addr</key>
		<string>新界 元朗 屏山 唐人新村路20號 唐人新村</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.439663</real>
		<key>lng</key>
		<real>114.011022</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-凹頭加油站</string>
		<key>addr</key>
		<string>新界 元朗 凹頭 錦田公路 (近迴旋處)</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.443614</real>
		<key>lng</key>
		<real>114.049488</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-錦綉花園加油站</string>
		<key>addr</key>
		<string>新界 元朗 錦綉花園大道 錦綉花園</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.471424</real>
		<key>lng</key>
		<real>114.054267</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-灰沙圍加油站</string>
		<key>addr</key>
		<string>新界 元朗 屏山 青山公路-屏山段 灰沙圍</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.437164</real>
		<key>lng</key>
		<real>114.002871</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-林錦加油站</string>
		<key>addr</key>
		<string>新界 元朗 八鄉 錦田公路 上村新村 (錦田公路與林錦公路交界)</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.431705</real>
		<key>lng</key>
		<real>114.103454</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-八鄉加油站</string>
		<key>addr</key>
		<string>新界 元朗 八鄉 錦田公路 橫台山羅屋村 (近八鄉警署)</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.440037</real>
		<key>lng</key>
		<real>114.092303</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-屏山加油站</string>
		<key>addr</key>
		<string>新界 元朗 八鄉 錦田公路 橫台山羅屋村 (近八鄉警署)</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.440588</real>
		<key>lng</key>
		<real>114.011054</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-壆圍加油站</string>
		<key>addr</key>
		<string>新界 元朗 青山公路-潭尾段 壆圍</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.46442</real>
		<key>lng</key>
		<real>114.053484</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-石崗加油站</string>
		<key>addr</key>
		<string>新界 元朗 八鄉 錦田公路 (近迴旋處)</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.440211</real>
		<key>lng</key>
		<real>114.074155</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-天水圍加油站</string>
		<key>addr</key>
		<string>新界 元朗 廈村 屏廈路123號</string>
		<key>district</key>
		<string>元朗</string>
		<key>lat</key>
		<real>22.446815</real>
		<key>lng</key>
		<real>113.994433</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-咖啡灣加油站</string>
		<key>addr</key>
		<string>新界 屯門 青山公路-青山灣段 (近青榕街)</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.377173</real>
		<key>lng</key>
		<real>113.984301</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-洪水橋加油站</string>
		<key>addr</key>
		<string>新界 屯門 洪水橋 青山公路-洪水橋段 和平新村</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.431511</real>
		<key>lng</key>
		<real>113.994862</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-藍地加油站</string>
		<key>addr</key>
		<string>新界 屯門 五柳路 青磚圍 (五柳路與青山公路-藍地段交界)</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.422291</real>
		<key>lng</key>
		<real>113.984533</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-青山加油站</string>
		<key>addr</key>
		<string>新界 屯門 小欖 青山公路-大欖段</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.366289</real>
		<key>lng</key>
		<real>114.003922</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-海華路加油站</string>
		<key>addr</key>
		<string>新界 屯門 海華路38號</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.379993</real>
		<key>lng</key>
		<real>113.971164</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-藍地加油站</string>
		<key>addr</key>
		<string>新界 屯門 海華路38號</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.419333</real>
		<key>lng</key>
		<real>113.982719</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-洪水橋加油站</string>
		<key>addr</key>
		<string>新界 屯門 洪水橋 青山公路-洪水橋段 和平新村</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.430755</real>
		<key>lng</key>
		<real>113.994628</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-新墟加油站</string>
		<key>addr</key>
		<string>新界 屯門 屯門公路 (近新和里遊樂場)</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.401643</real>
		<key>lng</key>
		<real>113.977028</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-屯門加油站</string>
		<key>addr</key>
		<string>新界 屯門 震寰路5號</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.397898</real>
		<key>lng</key>
		<real>113.972286</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-黃金海岸加油站</string>
		<key>addr</key>
		<string>新界 屯門 掃管笏 青山公路-青山灣段38號</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.397898</real>
		<key>lng</key>
		<real>113.972286</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-黃金海岸加油站</string>
		<key>addr</key>
		<string>新界 屯門 掃管笏 青山公路-青山灣段38號</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.370858</real>
		<key>lng</key>
		<real>113.994331</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-藍地加油站</string>
		<key>addr</key>
		<string>屯門 福亨村路 藍地 (福亨村路與青山公路-藍地段交界)</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.421237</real>
		<key>lng</key>
		<real>113.985152</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-掃管笏路加油站</string>
		<key>addr</key>
		<string>新界 屯門 掃管笏 掃管笏路</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.374216</real>
		<key>lng</key>
		<real>113.99642</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-屯仁街加油站</string>
		<key>addr</key>
		<string>新界 屯門 屯仁街6號</string>
		<key>district</key>
		<string>屯門</string>
		<key>lat</key>
		<real>22.394154</real>
		<key>lng</key>
		<real>113.977288</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-清水灣加油站</string>
		<key>addr</key>
		<string>新界 西貢 清水灣 清水灣道 (近無線電視城入口)</string>
		<key>district</key>
		<string>西貢</string>
		<key>lat</key>
		<real>22.330829</real>
		<key>lng</key>
		<real>114.262755</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-清水灣道加油站</string>
		<key>addr</key>
		<string>新界 飛鵝山 清水灣道 (近安達臣道)</string>
		<key>district</key>
		<string>西貢</string>
		<key>lat</key>
		<real>22.334774</real>
		<key>lng</key>
		<real>114.229796</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-西貢加油站</string>
		<key>addr</key>
		<string>新界 西貢 西貢公路 西貢篤</string>
		<key>district</key>
		<string>西貢</string>
		<key>lat</key>
		<real>22.379291</real>
		<key>lng</key>
		<real>114.266081</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-將軍澳1加油站</string>
		<key>addr</key>
		<string>新界 將軍澳 寶琳北路</string>
		<key>district</key>
		<string>西貢</string>
		<key>lat</key>
		<real>22.32712</real>
		<key>lng</key>
		<real>114.254459</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石油-將軍澳加油站</string>
		<key>addr</key>
		<string>新界 將軍澳 寶康路110號</string>
		<key>district</key>
		<string>西貢</string>
		<key>lat</key>
		<real>22.321795</real>
		<key>lng</key>
		<real>114.255261</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-清水灣道加油站</string>
		<key>addr</key>
		<string>新界 西貢 清水灣道 壁屋 (清水灣道與碧翠路交界)</string>
		<key>district</key>
		<string>西貢</string>
		<key>lat</key>
		<real>22.340046</real>
		<key>lng</key>
		<real>114.247099</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-井欄樹加油站</string>
		<key>addr</key>
		<string>新界 飛鵝山 清水灣道233號 井欄樹</string>
		<key>district</key>
		<string>西貢</string>
		<key>lat</key>
		<real>22.333995</real>
		<key>lng</key>
		<real>114.232969</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-將軍澳加油站</string>
		<key>addr</key>
		<string>新界 將軍澳 寶康路100號</string>
		<key>district</key>
		<string>西貢</string>
		<key>lat</key>
		<real>22.322123</real>
		<key>lng</key>
		<real>114.254972</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-火炭加油站</string>
		<key>addr</key>
		<string>新界 沙田 火炭 坳背灣街21號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.396874</real>
		<key>lng</key>
		<real>114.19628</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-沙田嶺加油站</string>
		<key>addr</key>
		<string>新界 沙田 沙田嶺 大埔公路-沙田嶺段8001號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.370409</real>
		<key>lng</key>
		<real>114.173242</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-大圍加油站</string>
		<key>addr</key>
		<string>新界 沙田 文禮路1號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.378028</real>
		<key>lng</key>
		<real>114.184708</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-圓洲角加油站</string>
		<key>addr</key>
		<string>新界 沙田 崗背街20號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.380379</real>
		<key>lng</key>
		<real>114.199195</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-馬鞍山加油站</string>
		<key>addr</key>
		<string>新界 馬鞍山 恆耀街9號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.414488</real>
		<key>lng</key>
		<real>114.22705</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-沙田加油站</string>
		<key>addr</key>
		<string>新界 沙田 崗背街18號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.380112</real>
		<key>lng</key>
		<real>114.198916</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-石門加油站</string>
		<key>addr</key>
		<string>新界 沙田 安平街11號 地下</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.392405</real>
		<key>lng</key>
		<real>114.208518</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-大圍加油站</string>
		<key>addr</key>
		<string>新界 沙田 大圍 積存街1號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.376329</real>
		<key>lng</key>
		<real>114.177418</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-沙田第一城加油站</string>
		<key>addr</key>
		<string>新界 沙田 樂城街5-7號 沙田第一城</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.385513</real>
		<key>lng</key>
		<real>114.205576</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-馬鞍山加油站</string>
		<key>addr</key>
		<string>新界 馬鞍山 馬鞍山路21號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.418824</real>
		<key>lng</key>
		<real>114.232712</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-沙田嶺加油站</string>
		<key>addr</key>
		<string>新界 沙田 沙田嶺 大埔公路-沙田嶺段8500號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.360698</real>
		<key>lng</key>
		<real>114.161647</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-小瀝源加油站</string>
		<key>addr</key>
		<string>新界 沙田 源安街12號</string>
		<key>district</key>
		<string>沙田</string>
		<key>lat</key>
		<real>22.382093</real>
		<key>lng</key>
		<real>114.207429</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-啟德加油站</string>
		<key>addr</key>
		<string>九龍 新蒲崗 太子道西592號</string>
		<key>district</key>
		<string>黃大仙</string>
		<key>lat</key>
		<real>22.331303</real>
		<key>lng</key>
		<real>114.19489</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-蒲崗村道加油站</string>
		<key>addr</key>
		<string>九龍 牛池灣 豐盛街</string>
		<key>district</key>
		<string>黃大仙</string>
		<key>lat</key>
		<real>22.343321</real>
		<key>lng</key>
		<real>114.208414</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-啟德加油站</string>
		<key>addr</key>
		<string>九龍 新蒲崗 太子道東594號</string>
		<key>district</key>
		<string>黃大仙</string>
		<key>lat</key>
		<real>22.331496</real>
		<key>lng</key>
		<real>114.195075</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-啟德加油站</string>
		<key>addr</key>
		<string>九龍 新蒲崗 太子道東590號</string>
		<key>district</key>
		<string>黃大仙</string>
		<key>lat</key>
		<real>22.331127</real>
		<key>lng</key>
		<real>114.1947</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-柴灣加油站</string>
		<key>addr</key>
		<string>香港 柴灣 新業街6號 安力工業中心</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.266681</real>
		<key>lng</key>
		<real>114.247054</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-鰂魚涌加油站</string>
		<key>addr</key>
		<string>香港 鰂魚涌 英皇道1067號 仁孚工業大廈</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.284964</real>
		<key>lng</key>
		<real>114.214942</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-筲箕灣加油站</string>
		<key>addr</key>
		<string>香港 西灣河 太康街</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.283373</real>
		<key>lng</key>
		<real>114.221879</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索東方-柴灣加油站</string>
		<key>addr</key>
		<string>香港 柴灣 豐業街97號</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.266684</real>
		<key>lng</key>
		<real>114.244532</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索東方-北角加油站</string>
		<key>addr</key>
		<string>香港 北角 渣華道</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.292549</real>
		<key>lng</key>
		<real>114.20615</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-杏花邨加油站</string>
		<key>addr</key>
		<string>香港 柴灣 常茂街</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.271345</real>
		<key>lng</key>
		<real>114.241998</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-電氣道加油站</string>
		<key>addr</key>
		<string>香港 北角 電氣道169-171號</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.287558</real>
		<key>lng</key>
		<real>114.192141</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-鰂魚涌加油站</string>
		<key>addr</key>
		<string>香港 鰂魚涌 英皇道979號A</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.287195</real>
		<key>lng</key>
		<real>114.21042</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-柴灣加油站</string>
		<key>addr</key>
		<string>香港 柴灣 創富道2號 中石化柴灣油庫</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.273897</real>
		<key>lng</key>
		<real>114.242392</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-英皇道加油站</string>
		<key>addr</key>
		<string>香港 鰂魚涌 英皇道892號</string>
		<key>district</key>
		<string>東區</string>
		<key>lat</key>
		<real>22.288347</real>
		<key>lng</key>
		<real>114.209905</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-旺角道加油站</string>
		<key>addr</key>
		<string>九龍 旺角 旺角道15號</string>
		<key>district</key>
		<string>油尖旺</string>
		<key>lat</key>
		<real>22.320349</real>
		<key>lng</key>
		<real>114.166432</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-角祥街加油站</string>
		<key>addr</key>
		<string>九龍 大角咀 角祥街11-15號 嘉運大廈</string>
		<key>district</key>
		<string>油尖旺</string>
		<key>lat</key>
		<real>22.319877</real>
		<key>lng</key>
		<real>114.160357</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-大角咀加油站</string>
		<key>addr</key>
		<string>九龍 大角咀 大角咀道82號</string>
		<key>district</key>
		<string>油尖旺</string>
		<key>lat</key>
		<real>22.320713</real>
		<key>lng</key>
		<real>114.162033</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-塘尾道加油站</string>
		<key>addr</key>
		<string>九龍 旺角 旺角道2號</string>
		<key>district</key>
		<string>油尖旺</string>
		<key>lat</key>
		<real>22.320493</real>
		<key>lng</key>
		<real>114.165874</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-通菜街加油站</string>
		<key>addr</key>
		<string>九龍 旺角 界限街48號 (界限街與通菜街交界)</string>
		<key>district</key>
		<string>油尖旺</string>
		<key>lat</key>
		<real>22.326346</real>
		<key>lng</key>
		<real>114.169103</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-太子道西加油站</string>
		<key>addr</key>
		<string>九龍 旺角 太子道西 (近太子道西189號)</string>
		<key>district</key>
		<string>油尖旺</string>
		<key>lat</key>
		<real>22.324574</real>
		<key>lng</key>
		<real>114.171971</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-香港仔加油站</string>
		<key>addr</key>
		<string>香港 黃竹坑 黃竹坑道22號</string>
		<key>district</key>
		<string>南區</string>
		<key>lat</key>
		<real>22.24826</real>
		<key>lng</key>
		<real>114.164133</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-薄扶林加油站</string>
		<key>addr</key>
		<string>香港 薄扶林 薄扶林道100號</string>
		<key>district</key>
		<string>南區</string>
		<key>lat</key>
		<real>22.274689</real>
		<key>lng</key>
		<real>114.129957</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-赤柱加油站</string>
		<key>addr</key>
		<string>香港 赤柱 赤柱村道</string>
		<key>district</key>
		<string>南區</string>
		<key>lat</key>
		<real>22.2219</real>
		<key>lng</key>
		<real>114.211265</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-黃竹坑加油站</string>
		<key>addr</key>
		<string>香港 黃竹坑 黃竹坑道66號</string>
		<key>district</key>
		<string>南區</string>
		<key>lat</key>
		<real>22.249876</real>
		<key>lng</key>
		<real>114.169262</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石油-香港仔加油站</string>
		<key>addr</key>
		<string>香港 香港仔 東勝道30號</string>
		<key>district</key>
		<string>南區</string>
		<key>lat</key>
		<real>22.249317</real>
		<key>lng</key>
		<real>114.155236</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-域多利道加油站</string>
		<key>addr</key>
		<string>香港 薄扶林 域多利道555號 碧瑤灣(上)</string>
		<key>district</key>
		<string>南區</string>
		<key>lat</key>
		<real>22.262132</real>
		<key>lng</key>
		<real>114.132896</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-黃竹坑道加油站</string>
		<key>addr</key>
		<string>香港 香港仔 黃竹坑道3號</string>
		<key>district</key>
		<string>南區</string>
		<key>lat</key>
		<real>22.248665</real>
		<key>lng</key>
		<real>114.16202</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-大窩口加油站</string>
		<key>addr</key>
		<string>新界 荃灣 青山公路-葵涌段698-704號</string>
		<key>district</key>
		<string>荃灣</string>
		<key>lat</key>
		<real>22.370828</real>
		<key>lng</key>
		<real>114.127322</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石油-荃灣加油站</string>
		<key>addr</key>
		<string>新界 荃灣 楊屋道171號</string>
		<key>district</key>
		<string>荃灣</string>
		<key>lat</key>
		<real>22.366177</real>
		<key>lng</key>
		<real>114.119327</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-葵涌加油站</string>
		<key>addr</key>
		<string>新界 荃灣 青山公路-葵涌段682-688號</string>
		<key>district</key>
		<string>荃灣</string>
		<key>lat</key>
		<real>22.370935</real>
		<key>lng</key>
		<real>114.128031</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-荃灣(西)加油站</string>
		<key>addr</key>
		<string>新界 荃灣 柴灣角街84-92號</string>
		<key>district</key>
		<string>荃灣</string>
		<key>lat</key>
		<real>22.37251</real>
		<key>lng</key>
		<real>114.10903</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-荃灣加油站</string>
		<key>addr</key>
		<string>新界 荃灣 青山公路-葵涌段690號</string>
		<key>district</key>
		<string>荃灣</string>
		<key>lat</key>
		<real>22.370878</real>
		<key>lng</key>
		<real>114.127542</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-大坑東加油站</string>
		<key>addr</key>
		<string>九龍 石硤尾 大坑東道15號</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.327829</real>
		<key>lng</key>
		<real>114.172126</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-大埔道加油站</string>
		<key>addr</key>
		<string>九龍 深水埗 大埔道 (大埔道與南昌街交界)</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.33109</real>
		<key>lng</key>
		<real>114.165281</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-元州街加油站</string>
		<key>addr</key>
		<string>九龍 深水埗 元州街221號</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.335131</real>
		<key>lng</key>
		<real>114.159649</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-百老匯街加油站</string>
		<key>addr</key>
		<string>九龍 荔枝角 百老匯街 美孚新邨第8期</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.335367</real>
		<key>lng</key>
		<real>114.141973</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-青山道加油站</string>
		<key>addr</key>
		<string>九龍 長沙灣 青山道528號</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.339475</real>
		<key>lng</key>
		<real>114.151398</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索東方-荔枝角加油站</string>
		<key>addr</key>
		<string>九龍 長沙灣 荔枝角道779號</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.334263</real>
		<key>lng</key>
		<real>114.153069</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索東方-大埔道加油站</string>
		<key>addr</key>
		<string>九龍 石硤尾 大埔道</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.338637</real>
		<key>lng</key>
		<real>114.163656</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-荔灣道加油站</string>
		<key>addr</key>
		<string>九龍 荔枝角 荔灣道 美孚新邨第7期</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.337682</real>
		<key>lng</key>
		<real>114.137791</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-蘭秀街加油站</string>
		<key>addr</key>
		<string>九龍 荔枝角 蘭秀道 美孚新邨第6期</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.338155</real>
		<key>lng</key>
		<real>114.140769</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-大埔道加油站</string>
		<key>addr</key>
		<string>九龍 石硤尾 大埔道</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.338877</real>
		<key>lng</key>
		<real>114.163578</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-九龍水塘加油站</string>
		<key>addr</key>
		<string>九龍 長沙灣 大埔道488號 (近爾登華庭)</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.343956</real>
		<key>lng</key>
		<real>114.154008</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-大坑東道加油站</string>
		<key>addr</key>
		<string>九龍 石硤尾 大坑東道17號</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.328259</real>
		<key>lng</key>
		<real>114.172102</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-大埔道加油站</string>
		<key>addr</key>
		<string>九龍 深水埗 大埔道45號B (大埔道與南昌街交界)</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.331147</real>
		<key>lng</key>
		<real>114.165324</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-通州街加油站</string>
		<key>addr</key>
		<string>九龍 長沙灣 青山道493-495號</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.337399</real>
		<key>lng</key>
		<real>114.146468</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-九龍塘加油站</string>
		<key>addr</key>
		<string>九龍 筆架山 歌和老街 (近畢架山道)</string>
		<key>district</key>
		<string>深水埗</string>
		<key>lat</key>
		<real>22.340056</real>
		<key>lng</key>
		<real>114.173768</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-貨櫃碼頭路加油站</string>
		<key>addr</key>
		<string>新界 葵涌 貨櫃碼頭路</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.354556</real>
		<key>lng</key>
		<real>114.125493</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-青衣加油站</string>
		<key>addr</key>
		<string>新界 青衣 青衣西路171號 青衣墟</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.35536</real>
		<key>lng</key>
		<real>114.099623</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-荃灣加油站</string>
		<key>addr</key>
		<string>新界 葵涌 青山公路-葵涌段</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.370429</real>
		<key>lng</key>
		<real>114.125568</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-葵涌加油站</string>
		<key>addr</key>
		<string>新界 葵涌 大窩交匯處</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.350071</real>
		<key>lng</key>
		<real>114.133114</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-葵興加油站</string>
		<key>addr</key>
		<string>新界 葵涌 青山公路-葵涌段555號</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.369608</real>
		<key>lng</key>
		<real>114.132472</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-青衣北加油站</string>
		<key>addr</key>
		<string>新界 青衣 青衣西路183號</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.356883</real>
		<key>lng</key>
		<real>114.100546</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-青衣南加油站</string>
		<key>addr</key>
		<string>新界 青衣 青衣路15號</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.343884</real>
		<key>lng</key>
		<real>114.108759</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-荃灣加油站</string>
		<key>addr</key>
		<string>新界 葵涌 青山公路-葵涌段</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.370439</real>
		<key>lng</key>
		<real>114.125869</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-青衣加油站</string>
		<key>addr</key>
		<string>新界 青衣 青衣西路173號 青衣墟</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.354782</real>
		<key>lng</key>
		<real>114.099369</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-荃灣(新)加油站</string>
		<key>addr</key>
		<string>新界 葵涌 青山公路-葵涌段731-737號</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.370456</real>
		<key>lng</key>
		<real>114.126126</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-上葵涌加油站</string>
		<key>addr</key>
		<string>新界 葵涌 大窩交匯處</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.350609</real>
		<key>lng</key>
		<real>114.132829</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-青衣加油站</string>
		<key>addr</key>
		<string>新界 青衣 青衣路53-67號 中石化香港油庫 (青衣路與青尚路交界)</string>
		<key>district</key>
		<string>葵青</string>
		<key>lat</key>
		<real>22.330301</real>
		<key>lng</key>
		<real>114.105752</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-梅窩加油站</string>
		<key>addr</key>
		<string>新界 大嶼山 梅窩 梅窩碼頭路</string>
		<key>district</key>
		<string>離島</string>
		<key>lat</key>
		<real>22.263725</real>
		<key>lng</key>
		<real>114.001825</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-貝澳加油站</string>
		<key>addr</key>
		<string>新界 大嶼山 嶼南道 貝澳老圍村</string>
		<key>district</key>
		<string>離島</string>
		<key>lat</key>
		<real>22.246912</real>
		<key>lng</key>
		<real>113.980576</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石油-東涌加油站</string>
		<key>addr</key>
		<string>新界 大嶼山 東涌 松仁路3號 (松仁街與松慧街交界)</string>
		<key>district</key>
		<string>離島</string>
		<key>lat</key>
		<real>22.280375</real>
		<key>lng</key>
		<real>113.939844</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-機場(貨運中心)加油站</string>
		<key>addr</key>
		<string>新界 赤鱲角 駿運路20號 香港國際機場</string>
		<key>district</key>
		<string>離島</string>
		<key>lat</key>
		<real>22.297648</real>
		<key>lng</key>
		<real>113.931723</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-機場(客運大樓)加油站</string>
		<key>addr</key>
		<string>新界 赤鱲角 暢連路6號 香港國際機場 航天城</string>
		<key>district</key>
		<string>離島</string>
		<key>lat</key>
		<real>22.314232</real>
		<key>lng</key>
		<real>113.94085</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-愉景灣加油站</string>
		<key>addr</key>
		<string>新界 大嶼山 愉景灣</string>
		<key>district</key>
		<string>離島</string>
		<key>lat</key>
		<real>22.292866</real>
		<key>lng</key>
		<real>114.022963</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-東涌1加油站</string>
		<key>addr</key>
		<string>新界 大嶼山 東涌 喜東街 (喜東街與文東路交界)</string>
		<key>district</key>
		<string>離島</string>
		<key>lat</key>
		<real>22.294464</real>
		<key>lng</key>
		<real>113.953304</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-東涌2加油站</string>
		<key>addr</key>
		<string>新界 大嶼山 東涌 喜東街</string>
		<key>district</key>
		<string>離島</string>
		<key>lat</key>
		<real>22.294095</real>
		<key>lng</key>
		<real>113.952772</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-成和道加油站</string>
		<key>addr</key>
		<string>香港 跑馬地 成和道</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.267416</real>
		<key>lng</key>
		<real>114.186768</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-灣仔加油站</string>
		<key>addr</key>
		<string>香港 灣仔 軒尼詩道258號 德士古大廈</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.277595</real>
		<key>lng</key>
		<real>114.17638</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-海旁加油站</string>
		<key>addr</key>
		<string>香港 銅鑼灣 告士打道</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.282527</real>
		<key>lng</key>
		<real>114.185022</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-軍器廠街加油站</string>
		<key>addr</key>
		<string>香港 灣仔 軍器廠街4號 中南大廈</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.2786</real>
		<key>lng</key>
		<real>114.168814</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-成和道加油站</string>
		<key>addr</key>
		<string>香港 跑馬地 成和道</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.267585</real>
		<key>lng</key>
		<real>114.186978</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-黃泥涌峽道加油站</string>
		<key>addr</key>
		<string>香港 黃泥涌峽 黃泥涌峽道 (香港木球會)</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.259113</real>
		<key>lng</key>
		<real>114.192376</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石油-大坑加油站</string>
		<key>addr</key>
		<string>香港 渣甸山 大坑道137號</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.270837</real>
		<key>lng</key>
		<real>114.191374</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-軍器廠街加油站</string>
		<key>addr</key>
		<string>香港 灣仔 軒尼詩道1號 熙信大廈</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.277987</real>
		<key>lng</key>
		<real>114.168468</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-堅拿道西加油站</string>
		<key>addr</key>
		<string>香港 灣仔 堅拿道西</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.276943</real>
		<key>lng</key>
		<real>114.181042</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-堅尼地道加油站</string>
		<key>addr</key>
		<string>香港 灣仔 堅尼地道9號J (堅尼地道與寶雲徑交界)</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.275324</real>
		<key>lng</key>
		<real>114.167167</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-黃泥涌峽道加油站</string>
		<key>addr</key>
		<string>香港 黃泥涌峽 黃泥涌峽道145號</string>
		<key>district</key>
		<string>灣仔</string>
		<key>lat</key>
		<real>22.259093</real>
		<key>lng</key>
		<real>114.192406</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-九龍灣加油站</string>
		<key>addr</key>
		<string>九龍 九龍灣 啟福道6號</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.321041</real>
		<key>lng</key>
		<real>114.205356</real>
	</dict>
	<dict>
		<key>name</key>
		<string>加德士-觀塘加油站</string>
		<key>addr</key>
		<string>九龍 觀塘 觀塘道371號</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.314031</real>
		<key>lng</key>
		<real>114.22223</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索東方-秀茂坪加油站</string>
		<key>addr</key>
		<string>九龍 秀茂坪 曉光街77號</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.315932</real>
		<key>lng</key>
		<real>114.232548</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-曉光街加油站</string>
		<key>addr</key>
		<string>九龍 秀茂坪 曉光街</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.315714</real>
		<key>lng</key>
		<real>114.232859</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-九龍灣1加油站</string>
		<key>addr</key>
		<string>九龍 九龍灣 啟福道7號</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.321163</real>
		<key>lng</key>
		<real>114.20523</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-九龍灣2加油站</string>
		<key>addr</key>
		<string>九龍 九龍灣 啟福道4號</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.320937</real>
		<key>lng</key>
		<real>114.205477</real>
	</dict>
	<dict>
		<key>name</key>
		<string>埃索-觀塘道加油站</string>
		<key>addr</key>
		<string>九龍 觀塘 觀塘道373號</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.313828</real>
		<key>lng</key>
		<real>114.222764</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-九龍灣(東行線)加油站</string>
		<key>addr</key>
		<string>九龍 九龍灣 啟福道5號</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.320758</real>
		<key>lng</key>
		<real>114.20567</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-九龍灣(西行線)加油站</string>
		<key>addr</key>
		<string>九龍 九龍灣 啟福道8號</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.321076</real>
		<key>lng</key>
		<real>114.205308</real>
	</dict>
	<dict>
		<key>name</key>
		<string>蜆殼-鯉魚門道加油站</string>
		<key>addr</key>
		<string>九龍 觀塘 鯉魚門道8號</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.310069</real>
		<key>lng</key>
		<real>114.229102</real>
	</dict>
	<dict>
		<key>name</key>
		<string>中國石化-九龍灣宏展街加油站</string>
		<key>addr</key>
		<string>九龍 九龍灣 宏展街16號 (宏展街與啟福道交界)</string>
		<key>district</key>
		<string>觀塘</string>
		<key>lat</key>
		<real>22.32215</real>
		<key>lng</key>
		<real>114.204766</real>
	</dict>
</array>
</plist>
